<div *ngIf="hero">
  <form [formGroup]="form">
    <h1>{{ hero.name | uppercase }} Details</h1>

    <mat-form-field appearance="outline">
      <mat-label>Id:</mat-label>
      <input
        matInput
        id="id"
        formControlName="id"
        type="text"
        placeholder="id:"
      />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>Hero name:</mat-label>
      <input
        class="bg"
        matInput
        id="name"
        formControlName="name"
        type="text"
        placeholder="Hero name:"
      />
    </mat-form-field>

    <br />

    <button mat-raised-button color="primary" (click)="update()">Update</button
    ><br /><br />

    <button mat-raised-button (click)="goBack()">Go back</button>
  </form>
</div>
